 .u-section-1 {
  background-image: url("images/look.com.ua-56104.jpg");
  background-position: 50% 3.01%;
}

.u-section-1 .u-sheet-1 {
  min-height: 501px;
}

.u-section-1 .u-video-1 {
  width: 365px;
  height: 321px;
  margin: 122px auto 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-video-1 {
    height: 320px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 38.58% 3.01%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-1 .u-video-1 {
    height: 298px;
    width: 302px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}